resource_group_name  = "rg-cvscreen-tfstate-staging"
storage_account_name = "cvscreentfstatestaging"
container_name       = "tfstate"
key                  = "staging.terraform.tfstate"
use_azuread_auth     = true
