resource_group_name  = "rg-cvscreen-tfstate-prod"
storage_account_name = "cvscreentfstateprod"
container_name       = "tfstate"
key                  = "prod.terraform.tfstate"
use_azuread_auth     = true
